*{
    margin: 0;
    padding: 0;
    border: none;
    color: white;
    
}
body{
    background-color: black;

}

.container{
    background: url(../images/blackBg.jpg)no-repeat;
    width: 1000px;
    height: 600px;
}

.main{
    width: 600px;
    height: auto;
    box-shadow: 3px 3px 30px rgb(252, 8, 8);
    margin: 10% auto;
    background-color: black;
    padding: 2% 2%;
    text-align: center;

    
}

.quantity{
    height: 80px;
    width: 100px;
    margin: 0% 0% 0% 5%;
    border: 1px solid rgb(252, 8, 8);
    box-shadow: 3px 3px 20px rgb(252, 8, 8);
    font-size: 35px;
}

.optionalImages{
    width: 100%;
    margin-top: 20px;
    display: flex;

}

input[type="date"]{
    width: 200px;
    height: 25px;
    background-color: rgb(243, 112, 112);
    margin-top: 3%;
    color: black;
    font-weight: bold;
    
}

.imText{
    margin-left: 8%;
    font-size: 2rem;
}